In [1]:
import numpy as np
import pandas as pd

In [2]:
#Series
obj = pd.Series([4, 7, -5, 3])

print(obj)
print(obj.values)
print(obj.index)
print(obj.dtypes)

0    4
1    7
2   -5
3    3
dtype: int64
[ 4  7 -5  3]
RangeIndex(start=0, stop=4, step=1)
int64

In [3]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [4]:
obj3 = pd.Series({'Kim':35000, 'Beomwoo':67000, 'Joan':12000, 'Choi':4000})
obj3

Kim        35000
Beomwoo    67000
Joan       12000
Choi        4000
dtype: int64

In [5]:
sdata = {'Kim':35000, 'Beomwoo':67000, 'Joan':12000, 'Choi':4000}
name = ['Kim', 'Hong', 'Choi', 'Joan']

pd.Series(sdata, index=name)

Kim     35000.0
Hong        NaN
Choi     4000.0
Joan    12000.0
dtype: float64

In [6]:
sdata = {'Kim':35000, 'Beomwoo':67000, 'Joan':12000, 'Choi':4000}
name2 = ['Hong', 'Kim', 'Choi', 'Joan']

pd.Series(sdata, index=name2)

Hong        NaN
Kim     35000.0
Choi     4000.0
Joan    12000.0
dtype: float64

In [7]:
obj3.name = 'Salary'
obj3.index.name = 'Names'

obj3

Names
Kim        35000
Beomwoo    67000
Joan       12000
Choi        4000
Name: Salary, dtype: int64

In [8]:
obj3.index = ['A', 'B', 'C', 'D']

obj3

A    35000
B    67000
C    12000
D     4000
Name: Salary, dtype: int64

In [10]:
a = pd.Series([1, 2, 3, 4], index = ['a', 'b', 'c', 'd'])

print(a['a'])
print(a.a)
print(a[0])

1
1
1

In [11]:
a = pd.Series([1, 2, 3, 4], index = ['a', 'b', 'c', 'd'])

a[1:]

b    2
c    3
d    4
dtype: int64

In [12]:
print(a>=3)
print(a[a>=3])

a    False
b    False
c     True
d     True
dtype: bool
c    3
d    4
dtype: int64

In [15]:
a = pd.Series([1, 2, 3, 4], index = ['a', 'b', 'c', 'd'])
pd.Series(a, index = ['d', 'b', 'c', 'a'])

d    4
b    2
c    3
a    1
dtype: int64

In [16]:
a.reindex(['d', 'b', 'c', 'a'])

d    4
b    2
c    3
a    1
dtype: int64

In [17]:
print(a.reindex(['d', 'b', 'c', 'a', 'e', 'f']))

d    4.0
b    2.0
c    3.0
a    1.0
e    NaN
f    NaN
dtype: float64

In [18]:
print(a.reindex(['d', 'b', 'c', 'a', 'e', 'f'], fill_value=0))

d    4
b    2
c    3
a    1
e    0
f    0
dtype: int64

In [19]:
a = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])

print('c' in a)
print('e' in a)

True
False

In [22]:
data = pd.Series(['blue', 'red', 'yellow'], index=[0, 2, 4])
data

0      blue
2       red
4    yellow
dtype: object

In [23]:
data2 = data.reindex(range(6))
data2

0      blue
1       NaN
2       red
3       NaN
4    yellow
5       NaN
dtype: object

In [24]:
data3 = data.reindex(range(6), method='ffill')
data3

0      blue
1      blue
2       red
3       red
4    yellow
5    yellow
dtype: object